
.elemento-principal{
    display: grid;
    width: 100%;
    background-color:#2F548E ;
    flex-direction: row;
    align-items: center;
    grid-template-columns: 40% 60%;
    padding: 20px 0;
}
.elemento-interno{
   flex:1;
}
.celula1{
   display: flex;
   justify-content: right;
   padding-right: 60px;
}
.titulo-banner{
    color:white;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}
.descricao-banner{
    color:white;
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    margin-top: 20px;
    padding-right: 350px;
    text-align: justify;
}
.circle {
    background-color: #aaa;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
}
.circle img{
    position: absolute;
    bottom: 0;
    width: 100%;
}
